@font-face{
    font-family: Nunito;
    src: url('../font/NunitoSans-Regular.ttf');
}
*{
    font-family: Nunito;
}
.bg-blue {
  background: #6379f4;
}
.text-blue {
  color: #6379f4;
}
.radius-12{
  border-radius: 12px;
}
.btn-blue {
  background-color: #6379f4;
  color: white;
}
.btn-blue:hover {
  background-color: #5365c9;
  color: white;
}
.btn-gray{
  background-color: #e4e8fa;
}
.btn-gray:hover{
  background-color: #a4a7b4;
}